<header class="site-header">
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <a href="{{ site.baseurl }}/">
                    <i class="fas fa-address-book"></i>
                    <span>{{ site.title }}</span>
                </a>
            </div>
            
            <button class="menu-toggle" aria-label="Toggle menu">
                <i class="fas fa-bars"></i>
            </button>
            
            <ul class="nav-menu">
                <li><a href="{{ site.baseurl }}/">
                    <i class="fas fa-home"></i> Home
                </a></li>
                <li><a href="{{ site.baseurl }}/directory/">
                    <i class="fas fa-list"></i> Directory
                </a></li>
                <li><a href="{{ site.baseurl }}/submit/">
                    <i class="fas fa-plus-circle"></i> Submit
                </a></li>
                <li><a href="{{ site.baseurl }}/about/">
                    <i class="fas fa-info-circle"></i> About
                </a></li>
            </ul>
        </nav>
    </div>
</header>